<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="38084b38-6c58-458d-ad7e-f53e732f220d" Alias="checkout" Level="2">
  <Info>
    <Name>Checkout</Name>
    <Icon>icon-shopping-basket</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Frontend</Folder>
    <Compositions />
    <DefaultTemplate>checkoutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1cd7448-3c8a-479e-838a-75d46c48f730">checkoutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fbfc4529-1c1a-4c93-a949-efd14232197b" SortOrder="0">order</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cb88735b-b34b-47b9-b0c0-d15ed892aa67</Key>
      <Name>MobilePay box number</Name>
      <Alias>mobilePayBoxNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19949239-52d7-4b0e-baa4-3da19ab3ebf4</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>