<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57a46cfa-c933-45ee-a972-23c722eacb3f" Alias="orderPage" Level="2">
  <Info>
    <Name>Order Page</Name>
    <Icon>icon-food</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Frontend</Folder>
    <Compositions />
    <DefaultTemplate>foodOrderPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="73fad61b-a365-4419-8d0c-e233a6cac4bc">foodOrderPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00c7689d-c5b5-4665-a839-b393bb82e400" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>