<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7a33ffa-c445-44e9-9956-6ca19aae68ec" Alias="site" Level="2">
  <Info>
    <Name>Site</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Frontend</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="57a46cfa-c933-45ee-a972-23c722eacb3f" SortOrder="0">orderPage</ContentType>
    <ContentType Key="38084b38-6c58-458d-ad7e-f53e732f220d" SortOrder="1">checkout</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>